OUTLOOK_CLIENT_ID=
OUTLOOK_CLIENT_SECRETE=
OUTLOOK_SCOPES=openid profile User.Read Mail.ReadWrite Calendars.ReadWrite offline_access
OUTLOOK_REDIRECT_URI=http://localhost:3000/authorize
OUTLOOK_AUTH_ACCESS_TOKEN=
OUTLOOK_AUTH_REFRESH_TOKEN=
OUTLOOK_AUTH_CODE=
OUTLOOK_AUTH_EXPIRES_TIME=
SERVER_ADDRESS=