extends layout

block content
  div
    div 1. Please fill in your first name, last name, and email address.
    div 2. Click the "Create Profile" button.
    div 3. Click the "Start Recording" button.
    div 4. Clearly and slowly read the following text.
    div 5. Click the "Stop Recording" button when finished, and wait for enrollment status check.
    div 6. If enrollment status indicates that more audio is required, repeat steps 3 to 5 until enrollment is successful.
    div 7. Click the "Submit" button.
  div 
    div NOTE: 
    div - To ensure optimal voice registration results, this sample voice enrollment should be done in a quiet environment without other voices and limited background noise.
    div - Successful enrollment requires a minimum of 30 seconds of voice audio, not including silence. Repeat steps 3 to 5 until enough audio is accumulated.
  p I DO NOT LIKE THEM IN A HOUSE. 
  p I DO NOT LIKE THEM WITH A MOUSE. 
  p I DO NOT LIKE THEM HERE OR THERE. 
  p I DO NOT LIKE THEM ANYWHERE. 
  p I DO NOT LIKE GREEN EGGS AND HAM. 
  p I DO NOT LIKE THEM, SAM-I-AM.
    
  div(class="input") 
    span(style="margin-right : 3px") First Name
    input(type="text" id = "first_name")
  div(class="input") 
    span(style="margin-right : 3px") Last Name
    input(type="text" id = "last_name")
  div(class = "input")
    span(style="margin-right : 35px") Email
    input(type="text" id = "email")
  div
    button(id="create_profile") Create Profile 
    button(id="record" disabled) Start Recording
    button(id = "stop" disabled) Stop Recording
    button(id="submit" disabled) Submit
  div(id="recording" hidden) Recording...

  div Enrollment status check message:
  h4(id = "success" hidden) Enrollment successful!
  h4(id = "more_audio" hidden) More audio needed, repeat steps 3-5.

  script(src="/javascripts/recorder.js")
  script(src="/javascripts/main.js")